{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/stylesHome.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to my page</h1>
    </header>
    
    <main>
        <p>This is the main content of my page.</p>
        <a href="{% url 'pageOne' %}">
            <button>Ir para Outra Página</button>
        </a>
    </main>
    
    <footer>
        <p>&copy; 2021 My Page</p>
    </footer>
</body>
</html>
