{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>My Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesScreenThree.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class='bgSaturno'></div>
    <div class='text'>
        <h1>Saturno</h1>
        <p>Saturno, o "Senhor dos Anéis", é um dos planetas mais fascinantes do nosso sistema solar. Seu deslumbrante sistema de anéis é uma característica icônica, composto por bilhões de partículas de gelo e rocha. Saturno também abriga dezenas de luas, cada uma com suas próprias características únicas.
            A enorme atmosfera gasosa do planeta, com suas faixas e tempestades, é um mistério a ser explorado. As missões espaciais, como a sonda Cassini, revelaram detalhes surpreendentes sobre esse mundo majestoso.
            Saturno é uma joia cósmica que continua a cativar nossa imaginação e impulsionar nossa busca por respostas sobre a formação e evolução de nosso sistema solar.</p>
            <div class="button__container">
                <a href="{% url 'home' %}" class="button type--B">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <span class="button__text">Voltar ao Menu</span>
                    <div class="button__drow1"></div>
                    <div class="button__drow2"></div>
                </a>
            </div>
    </div>
    <div class='Saturno'>
        <img src="https://i.pinimg.com/564x/c5/90/23/c5902391851dc0cf3e4aad9cc85de561.jpg" alt="" />
    </div>
    <div class='fundoSaturno'>
        <img src='https://i.pinimg.com/564x/d6/5c/a4/d65ca4ac6ba58ad5eef7a83243cb5aee.jpg'></img>
    </div>
</body>

</html>