{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>My Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesScreenOne.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class='bgTerra'></div>
    <div class='text'>
        <h1>Terra</h1>
        <p>A Terra, nosso lar azul no espaço, é um planeta incrível e diversificado. Com paisagens que variam de montanhas majestosas a oceanos profundos, abriga uma rica diversidade de vida. É o único lugar conhecido até agora onde a vida prosperou, criando ecossistemas complexos e civilizações humanas. Nosso planeta, com sua atmosfera única, é um lugar precioso que devemos proteger e preservar para as futuras gerações.</p>
    </div>
    <div class='terra'>
        <img src="https://i.pinimg.com/564x/be/ff/42/beff42764a7df88ff54ecb6514669b1e.jpg" alt="" />
    </div>
    <div class='fundoTerra'>
        <img src='https://i.pinimg.com/564x/39/67/c8/3967c84b099dca211007ea75b494a4a4.jpg'></img>
    </div>
</body>

</html>